#
python-dotenv

numpy
pandas
scikit-learn
sentence-transformers
matplotlib
torch
langchain
openai
pinecone-client
pinecone-datasets
pinecone-text
tiktoken
tqdm
datasets
PyPDF2
OPENAI
bert-extractive-summarizer
Flask==3.0.0
gunicorn==20.1.0
Werkzeug==3.0.1
bs4

