<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container py-5 d-flex justify-content-center">
        <div class="d-flex flex-column">
            <h1 class="mb-4 align-items-start">Tibet Search Engine</h1>
            <form id="search-form" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-lg-2" type="search" id="query" name="query"
                    placeholder="Enter your search query here" aria-label="Search" style="width: 500px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="material-icons">search</i>
                </button>
                <button class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="button"
                    onclick="window.location.href='/upload'">
                    <i class="material-icons">upload data</i>
                </button>
            </form>
            <div id="results-container" class="p-3 my-2 align-items-start"
                style="overflow-y: auto; width: 500px; height: 30vh;">
                <text id="results-table"></text>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('search-form').addEventListener('submit', function (event) {
            event.preventDefault();
            var query = document.getElementById('query').value;
            fetch('/semantic-search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    query: query
                })
            })
                .then(response => response.json())
                .then(data => {
                    var answer = document.getElementById('results-table');
                    answer.innerHTML = data.answer.replace(/\n/g, '<br />');
                    sources = data.sources
                    sources.forEach((source, i) => {
                        var link = document.createElement('a');
                        link.href = source;
                        link.target = "_blank";
                        link.innerHTML = '<sup>' + '[' + (i + 1) + ']' + '</sup>';
                        answer.appendChild(link);
                    });

                    if (answer.innerHTML !== '') {
                        answer.style.display = 'block';
                    }
                });
        });
    </script>
</body>